.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell svg {
  width: calc(var(--cell-size) - 20%);
  height: calc(var(--cell-size) - 20%);
  stroke: black;
  stroke-width: 3%;
}

.black {
  background-color: blue;
}

.white {
  background-color: white;
}

.mount {
  box-shadow: 0 0 10px black;
  z-index: 1;
}
.lowland {
  box-shadow: inset 0 0 10px black;
}
